<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
<http:listener-config name="weather-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="weather-api-config" api="weather-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<wsc:config name="MockSOAP11_Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="60254f72-ea69-4a1c-be7f-8e3bcbe0cc1c" >
		<wsc:connection wsdlLocation="wsdl/GlobalWeather.wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="${wsdl.url.soap11}">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<wsc:config name="MockSOAP12_Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="4db9413c-1464-4668-bf6e-a49ad01a0afa" >
		<wsc:connection soapVersion="SOAP12" wsdlLocation="wsdl/GlobalWeatherSoap12.wsdl" service="GlobalWeather" port="GlobalWeatherSoap12" address="${wsdl.url.soap12}"/>
	</wsc:config>
	<configuration-properties doc:name="Configuration properties" doc:id="318f1e23-b362-4d72-a5fc-683dc1f69b20" file="weather-api.properties" />
	

</mule>
